<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group 9 </title>

<!--    bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/board.css}">

</head>

<body>



<!-- As a heading -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Group 9 </span>
    <span><b>Team:</b> Asritha, Mahathi, Prem, Vamsi</span>
  </div>
</nav>





    <div class="container-fluid">
        <div class="result-message hidden">
            <p id="result-text"></p>
        </div>

</div>



        <div class="row">
            <div class="col-md-4">
              <div class="column">
                <!-- Content for the first column -->
                <img th:src="@{/assets/images/All-in-C.png}" id="logo">
              </div>
            </div>



            <div class="col-md-4">
              <div class="column column2">
                <div class="">

                    <table id="table1">
                        <tbody>
                          <tr>
                            <td onclick="changeColor(this,0,0,0)" id="000"></td>
                            <td onclick="changeColor(this,0,0,1)" id="001"></td>
                            <td onclick="changeColor(this,0,0,2)" id="002"></td>
                            <td onclick="changeColor(this,0,0,3)" id="003"></td>
                          </tr>
                          <tr>
                            <td onclick="changeColor(this,0,1,0)" id="010"></td>
                            <td onclick="changeColor(this,0,1,1)" id="011"></td>
                            <td onclick="changeColor(this,0,1,2)" id="012"></td>
                            <td onclick="changeColor(this,0,1,3)" id="013"></td>
                          </tr><tr>
                            <td onclick="changeColor(this,0,2,0)" id="020"></td>
                            <td onclick="changeColor(this,0,2,1)" id="021"></td>
                            <td onclick="changeColor(this,0,2,2)" id="022"></td>
                            <td onclick="changeColor(this,0,2,3)" id="023"></td>
                          </tr><tr>
                            <td onclick="changeColor(this,0,3,0)" id="030"></td>
                            <td onclick="changeColor(this,0,3,1)" id="031"></td>
                            <td onclick="changeColor(this,0,3,2)" id="032"></td>
                            <td onclick="changeColor(this,0,3,3)" id="033"></td>
                          </tr>
                        </tbody>
                      </table>




                    <table id="table2">
                        <tbody>
                        <tr>
                            <td onclick="changeColor(this,1,0,0)" id="100"></td>
                            <td onclick="changeColor(this,1,0,1)" id="101"></td>
                            <td onclick="changeColor(this,1,0,2)" id="102"></td>
                            <td onclick="changeColor(this,1,0,3)" id="103"></td>
                        </tr>
                        <tr>
                            <td onclick="changeColor(this,1,1,0)" id="110"></td>
                            <td onclick="changeColor(this,1,1,1)" id="111"></td>
                            <td onclick="changeColor(this,1,1,2)" id="112"></td>
                            <td onclick="changeColor(this,1,1,3)" id="113"></td>
                        </tr><tr>
                            <td onclick="changeColor(this,1,2,0)" id="120"></td>
                            <td onclick="changeColor(this,1,2,1)" id="121"></td>
                            <td onclick="changeColor(this,1,2,2)" id="122"></td>
                            <td onclick="changeColor(this,1,2,3)" id="123"></td>
                        </tr><tr>
                            <td onclick="changeColor(this,1,3,0)" id="130"></td>
                            <td onclick="changeColor(this,1,3,1)" id="131"></td>
                            <td onclick="changeColor(this,1,3,2)" id="132"></td>
                            <td onclick="changeColor(this,1,3,3)" id="133"></td>
                        </tr>
                        </tbody>
                    </table>





                    <table id="table3">
                        <tbody>
                        <tr>
                            <td onclick="changeColor(this,2,0,0)" id="200"></td>
                            <td onclick="changeColor(this,2,0,1)" id="201"></td>
                            <td onclick="changeColor(this,2,0,2)" id="202"></td>
                            <td onclick="changeColor(this,2,0,3)" id="203"></td>
                        </tr>
                        <tr>
                            <td onclick="changeColor(this,2,1,0)" id="210"></td>
                            <td onclick="changeColor(this,2,1,1)" id="211"></td>
                            <td onclick="changeColor(this,2,1,2)" id="212"></td>
                            <td onclick="changeColor(this,2,1,3)" id="213"></td>
                        </tr><tr>
                            <td onclick="changeColor(this,2,2,0)" id="220"></td>
                            <td onclick="changeColor(this,2,2,1)" id="221"></td>
                            <td onclick="changeColor(this,2,2,2)" id="222"></td>
                            <td onclick="changeColor(this,2,2,3)" id="223"></td>
                        </tr><tr>
                            <td onclick="changeColor(this,2,3,0)" id="230"></td>
                            <td onclick="changeColor(this,2,3,1)" id="231"></td>
                            <td onclick="changeColor(this,2,3,2)" id="232"></td>
                            <td onclick="changeColor(this,2,3,3)" id="233"></td>
                        </tr>
                        </tbody>
                    </table>



                    <table id="table4">
                        <tbody>
                        <tr>
                            <td onclick="changeColor(this,3,0,0)" id="300"></td>
                            <td onclick="changeColor(this,3,0,1)" id="301"></td>
                            <td onclick="changeColor(this,3,0,2)" id="302"></td>
                            <td onclick="changeColor(this,3,0,3)" id="303"></td>
                        </tr>
                        <tr>
                            <td onclick="changeColor(this,3,1,0)" id="310"></td>
                            <td onclick="changeColor(this,3,1,1)" id="311"></td>
                            <td onclick="changeColor(this,3,1,2)" id="312"></td>
                            <td onclick="changeColor(this,3,1,3)" id="313"></td>
                        </tr><tr>
                            <td onclick="changeColor(this,3,2,0)" id="320"></td>
                            <td onclick="changeColor(this,3,2,1)" id="321"></td>
                            <td onclick="changeColor(this,3,2,2)" id="322"></td>
                            <td onclick="changeColor(this,3,2,3)" id="323"></td>
                        </tr><tr>
                            <td onclick="changeColor(this,3,3,0)" id="330"></td>
                            <td onclick="changeColor(this,3,3,1)" id="331"></td>
                            <td onclick="changeColor(this,3,3,2)" id="332"></td>
                            <td onclick="changeColor(this,3,3,3)" id="333"></td>
                        </tr>
                        </tbody>
                    </table>







                 </div>

              </div>
            </div>


            <div class="col-md-4">
                <div class="column">
                  <!-- Content for the first column -->
                  <h2>Level: <span th:text="${difficultyLevel}"></span></h2>
                  <p>Player Name: <span th:text="${playerName}"></span></p>
                  <br>
                  <img th:src="@{/assets/images/bean.png}" style="width: 300px;">
                </div>
              </div>

          </div>










        <center>

        </center>

    </div>





    <script th:src="@{/assets/js/game.js}">
      </script>



</body>
</html>