<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group 9 </title>

<!--    bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>

<body>

    <div class="container">

        <center>
         <div class="elements">
            <img th:src="@{/assets/images/All-in-C.png}" id="logo">
            <h4>Group 9 Gaming Center</h4>
          <form >
              <input type="text" name="playerName" class="custom-input" placeholder="Enter Player Name"><br><br>
              <a th:href="@{/gameplay}" type="submit" class="btn btn-success startgamebtn">Start Game</a>
          </form>
         </div>
        </center>

    </div>

</body>
</html>